@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  font-family: "Poppins";
}

body {
  font-size: 18px;
  margin: 0;
}

.form {
  width: max-content;
  margin: auto auto;

  h1 {
    text-align: center;
    // color: rgb(255, 102, 0);
  }

  input {
    padding: 10px 25px;
    margin-right: 20px;

    &[type="text"] {
      font-weight: 600;
    }
  }

  button {
    border: none;
    background-color: rgb(255, 102, 0);
    color: white;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
  }
}
